body {
  background-image: linear-gradient(
      100deg,
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../img/jw1.jpeg);
  background-size: cover;
  color: white;
  background-position-y: 45%;
}

header {
  display: flex;
  margin-right: 47px;
  align-items: center;
  margin-left: 127px;
  height: 220px;
}

.logo {
  background-image: url(../img/johnwicklogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  width: 210px;
  height: 67px;
}

header ul {
  display: flex;
  width: 100%;
}

header ul li {
  margin: 16px;
  letter-spacing: 0.2em;
  font-size: 27px;
  font-weight: 550;
}

header ul li:first-of-type {
  color: red;
}

header > ul > li:hover {
  color: red;
}

.material-icons {
  font-size: 50px;
  margin-bottom: 30px;
}

main {
  margin-left: 255px;
  height: calc(100vh - 370px);
  width: 80%;
}

.title {
  background-image: url(../img/johnwicktitle.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: bottom;
  width: 820px;
  height: 245px;
}

.subtitle {
  height: 100px;
  font-size: 40px;
  letter-spacing: 0.1em;
  padding-top: 55px;
  padding-bottom: 90px;
}

p {
  font-weight: 100;
  width: 1050px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
}

main ul {
  display: flex;
  font-weight: 100;
  margin-top: 85px;
  margin-bottom: 145px;
  font-size: 23px;
}

main ul li {
  margin-right: 40px;
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 0.05em;
}

main ul li strong {
  font-weight: 900;
  margin-right: 15px;
  color: white;
  letter-spacing: 0.1em;
}

button {
  border-radius: 50px 50px;
  border-color: white;
  background-color: rgb(00, 00, 00, 0);
  color: white;
  font-size: 22px;
  margin-right: 28px;
  width: 265px;
  height: 70px;
  filter: brightness(0.8);
}

.trailer {
  position: absolute;
  top: 50%;
  right: 60px;
  font-size: 30px;
  rotate: -90deg;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%) scaleY(1.8);
  font-size: 40px;
  animation: modifyArrow 1s linear infinite;
}

@keyframes modifyArrow {
  50% {
    transform: translate(8px, -50%) scaleY(1.8);
  }
}

footer {
  margin-left: 170px;
  height: 150px;
}

footer ul {
  display: flex;
  width: 100%;
}

footer ul li {
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: center;
  width: 50px;
  height: 80px;
  margin-right: 80px;
}

.facebook {
  background-image: url(../img/footer-facebook.png);
}

.youtube {
  background-image: url(../img/footer-youtube.png);
}

.twitter {
  background-image: url(../img/footer-twitter.png);
}

@media screen and (max-height: 1200px) {
  footer {
    display: none;
  }
  body {
    background-position-y: 27%;
  }
  main {
    height: calc(100vh - 220px);
  }
}

@media screen and (max-height: 1000px) {
  main button {
    display: none;
  }
  body {
    background-position-y: 25%;
  }
}

@media screen and (max-width: 1500px) {
  main {
    width: 80%;
  }
  main div:nth-of-type(2) {
    display: none;
  }
  main div:nth-of-type(3) {
    display: none;
  }
  main p {
    display: none;
  }
  main ul {
    display: none;
  }
  body {
    background-size: 1980px;
    background-position-y: 0%;
  }
}

@media screen and (max-width: 1300px) {
  main {
    width: 70%;
  }
}
@media screen and (max-width: 1200px) {
  header .material-icons {
    display: none;
  }
  header ul {
    display: none;
  }
  main {
    width: 50%;
    height: 70%;
    margin: auto;
  }
  main .title {
    display: none;
  }

  main .subtitle {
    display: none;
  }

  main button {
    display: none;
  }
  footer {
    display: none;
  }
}
