body {
  background-image: url(../img/jw1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

header {
  display: flex;
  margin-right: 20px;
  align-items: center;
  margin-left: 5%;
  height: 80px;
}

.logo {
  background-image: url(../img/johnwicklogo.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
  margin-right: 5%;
}

header ul {
  display: flex;
  width: 100%;
}

header ul li {
  margin: 5% 2%;
}

header ul li:first-of-type {
  color: red;
}

header > ul > li:hover {
  color: red;
}

main {
  margin-left: 10%;
  margin-top: 10%;
}

.title {
  background-image: url(../img/johnwicktitle.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 150px;
}

.subtitle {
  height: 50px;
}

p {
  font-weight: 100;
  width: 600px;
}

main ul {
  display: flex;
  font-weight: 100;
  margin-top: 5%;
  margin-bottom: 10%;
}

main ul li {
  margin-right: 3%;
}

main ul li strong {
  font-weight: 900;
  margin-right: 10px;
}

button {
  border-radius: 20px 20px;
  border-color: white;
  background-color: rgb(00, 00, 00, 0);
  color: white;
  padding: 10px 30px;
  margin-right: 20px;
}

.trailer {
  position: absolute;
  top: 50%;
  right: 30px;
  rotate: -90deg;
  margin-top: 8px;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%) scaleY(2);
  font-size: 20px;
  animation: modifyArrow 1s linear infinite;
  rotate: 180deg;
}

@keyframes modifyArrow {
  50% {
    transform: translate(8px, -50%) scaleY(2);
  }
}

footer {
  margin-left: 7%;
}

footer ul {
  display: flex;
}

footer ul li {
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin-right: 2%;
}

.facebook {
  background-image: url(../img/footer-facebook.png);
}

.youtube {
  background-image: url(../img/footer-youtube.png);
}

.twitter {
  background-image: url(../img/footer-twitter.png);
}
